<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Edit Pokemon</h1>
        <form method="POST" action="/pokemon/<%=id%>?_method=PUT">
            Name: <input type="text" name="name" value="<%=pokemon.name%>"/><br/>
            Img: <input type="text" name="color" value="<%=pokemon.img%>"/><br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
        <form action="/pokemon/<%=id%>/delete?_method=DELETE" method="POST">
            <input type="submit" value="delete">
        </form>
    </body>
</html>
