<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>this is pokemon</h1>
    <style>
        h1 {color:red;}
        li {color:green;}
        body{background-image:url("https://cdn.vox-cdn.com/thumbor/s_HqWQZ-SI1MqQwV1eXvtgBwnGc=/0x0:578x327/1200x800/filters:focal(243x118:335x210)/cdn.vox-cdn.com/uploads/chorus_image/image/56976933/halloween_2017_169.0.jpg")}
    </style>
    <ul>
        <% for(let i = 0; i < pokemon.length; i++){ %> 
        <li><a href="/pokemon/<%=[i]%>/show"><%= pokemon[i].name %></a></li>
        <% } %>
   
    </ul>
</body>
</html>